@model IEnumerable<WebsiteDatXeCongNghe.Models.TaiXe>
@{
    ViewBag.Title = "TraKhach";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Đã trả khách</title>

    <link href="~/css/TaiXeDonKhach.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <link href="~/css/TaiXe.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/NhanChuyenXe.js"></script>
    <link href="~/css/NhanTin.css" rel="stylesheet" />

    <script src="~/js/ie10-viewport-bug-workaround.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:500&display=swap" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsjGimn5mrdv4SaHko6T4Ge8hChEHQQFc&libraries=places"></script>
    <link href="~/css/TienMat.css" rel="stylesheet" />



    <script src="~/js/TaiXeGoogleMap.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Trả khách hàng!</h1>
    </div>
    <div class="header" id="TaiXeDonKhachInfors2345">
        <h1>TÀI XẾ</h1>
    </div>

    @foreach (var tx in Model)
    {
        <table>
            <tr>
                <td><span class="driver-name">THÔNG TIN CÁ NHÂN TÀI XẾ</span></td>
            </tr>
            <tr>
                <td>Hình ảnh tài xế:</td>
                <td>
                    <img src="~/image/TaiXe/@tx.HinhAnh" alt="" width="50" height="50" id="DriverImages">
                </td>
            </tr>
            <tr>
                <td>Số điện thoại tài xế:</td>
                <td>
                    <span class="driver-name" id="phoneNumbers">@Session["SoDienThoai"].ToString()</span>
                </td>
            </tr>
            <tr>
                <td>Vị trí tài xế:</td>
                <td>
                    <span class="driver-name" id="DriverLocations">Vị trí: @tx.ViTri</span>
                </td>
            </tr>
            <tr>
                <td>Họ tên tài xế:</td>
                <td>
                    <span class="driver-name" id="DriverNames">Họ tên: @tx.Ten</span>
                </td>
            </tr>

            <tr>
                <td>Mức độ đánh giá:</td>
                <td>
                    <div class="star-ratings" id="DriverRates">
                        @for (int i = 0; i < (int)tx.MucDoDanhGiaTB; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        @if ((tx.MucDoDanhGiaTB - (int)tx.MucDoDanhGiaTB) > 0)
                        {
                            <i class="fas fa-star-half-alt"></i>
                        }
                    </div>
                    <span id="DriverRated" style="display:none;">@tx.MucDoDanhGiaTB</span>
                </td>
            </tr>
            <tr>
                <td>Biển số xe:</td>
                <td>
                    <span class="driver-name" id="DriverLicenses">Biển số xe: @tx.BienSo</span>
                </td>
            </tr>
            <tr>
                <td>Ví tiền:</td>
                <td>
                    <span class="driver-name" id="DriverWallet">Ví tiền: @tx.ViTien VND</span>
                </td>
            </tr>
        </table>
    }
    <section id="map">
        <!-- Map will be displayed here -->
        <div class="col-md-8 google-map-wrap">
            <div id="googleMap" class="map"></div>
        </div>

    </section>
    @*<section id="ride-details">
            <h2>Ride details</h2>
            <p>Distance: <span id="distances"></span></p>
            <p>Duration: <span id="durations"></span></p>
            <p>Total Fare: <span id="totalFares">abc</span></p>
            <p>Pickup location: <span id="txtLocationPickups">abc</span></p>
            <p>Dropoff location: <span id="txtLocationDrops">abc</span></p>
            <p>Booking type: <span id="types"></span></p>
            <p>Passenger phone: <span id="phone-numbers"></span></p>
            <p>Payment method: <span id="results">abc</span></p>
            <p>Booking time: <span id="dateds"></span></p>
            <button id="accept-ride">Accept Ride</button>
            <button id="cancel-ride" style="display:none;">Cancel Ride</button>
        </section>*@
<div id="driver-info">
    <div class="driver-image" id="DriverImage" style="display:none;">
        <img src="" alt="Driver Image" width="50" height="50">
    </div>

    <table>
        <tr>
            <td><span class="driver-name">THÔNG TIN KHÁCH HÀNG ĐẶT CHUYẾN XE</span></td>
        </tr>
        <tr>
            <td>Hình ảnh khách hàng:</td>
            <td>
                <div class="driver-image" id="PassengerImages">
                    <img src="" alt="Driver Image" width="50" height="50">
                </div>
            </td>
        </tr>
        <tr style="display: none;">
            <td>Tên tài xế:</td>
            <td><span class="driver-name" id="DriverName"></span></td>
        </tr>
        <tr style="display: none;">
            <td>Số điện thoại tài xế:</td>
            <td><span class="driver-name" id="phoneNumber"></span></td>
        </tr>
        <tr>
            <td>Số điện thoại khách hàng:</td>
            <td><span class="driver-name" id="phone-number"></span></td>
        </tr>
        <tr>
            <td>Tên khách hàng:</td>
            <td><span class="driver-name" id="PassengerName"></span></td>
        </tr>
        <tr style="display: none;">
            <td>Giấy phép lái xe:</td>
            <td><span class="driver-license" id="DriverLicense"></span></td>
        </tr>
        <tr style="display: none;">
            <td>Đánh giá:</td>
            <td>
                <div class="star-ratings" id="DriverRate">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                </div>
            </td>
        </tr>
        <tr style="display: none;">
            <td>Vị trí tài xế:</td>
            <td><span class="pickup-point" id="DriverLocation"></span></td>
        </tr>
        <tr>
            <td>Điểm đón:</td>
            <td><span class="pickup-point" id="txtLocationPickupd"></span></td>
        </tr>
        <tr>
            <td>Điểm đến:</td>
            <td><span class="destination" id="txtLocationDropd"></span></td>
        </tr>
        <tr>
            <td>Thời gian đến vị trí khách hàng:</td>
            <td><span class="destination" id="duration"></span></td>
        </tr>
        <tr>
            <td>Khoảng cách:</td>
            <td><span class="destination" id="distance"></span></td>
        </tr>
        <tr>
            <td>Loại xe:</td>
            <td><span class="destination" id="type"></span></td>
        </tr>
        <tr>
            <td>Ngày đặt:</td>
            <td><span class="destination" id="dated"></span></td>
        </tr>
        <tr>
            <td>Hình thức thanh toán:</td>
            <td><span class="payment-form" id="result"></span></td>
        </tr>
        <tr>
            <td>Giá ban đầu:</td>
            <td><span class="total-amount" id="totalFared"></span></td>
        </tr>
        <tr style="display: none;">
            <td>Mã đặt xe:</td>
            <td><span class="total-amount" id="MaDatXe"></span></td>
        </tr>
        <tr style="display: none;">
            <td>Mã nhận chuyến:</td>
            <td><span class="total-amount" id="MaNhanChuyen"></span></td>
        </tr>
        <tr>
            <td>Phí mở rộng:</td>
            <td><span class="total-amount" id="SurchareFeesd"></span></td>
        </tr>
        <tr>
            <td>Khuyến mãi:</td>
            <td><span class="total-amount" id="discountFared"></span></td>
        </tr>
        <tr>
            <td>Thành tiền:</td>
            <td><span class="total-amount" id="discountFareTotald"></span></td>
        </tr>
        @*<tr>
                <td><span class="total-amount" id="SurchareFee"></span></td>
            </tr>*@
    </table>
    <div class="button-container">
        <div class="message-container">
            <div class="icon-container" id="chat-bubble-icon">
                <i class="fa fa-comment"></i>
                <span class="message-notification">3</span> <!-- Add this line -->
            </div>
        </div>
    </div>

    <div class="chat-popup" id="myForm">
        <div class="chat-header">
            <div class="chat-receiver">
                <span id="PassengerImaged">
                    <img src="" alt="Receiver Image">
                </span>
                <span id="PassengerNames"></span>
            </div>
            <span class="close">&times;</span>
        </div>

        <div class="chat-content">
            <div class="chat-messages" id="chat-messages">
                <div id="sender-chat-message"></div>
                <div id="receiver-chat-message"></div>

            </div>
            <div class="chat-input-container">
                <div class="chat-input">
                    <textarea id="chat-textarea" placeholder="Nhập tin nhắn..."></textarea>
                    <div class="send-btn-container">
                        <button id="send-message-btn"><i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="accept-ride" style="display:none;">Accept Ride</button>
    <button id="cancel-ride" style="display:none;">Cancel Ride</button>
    <div class="container">
        <div class="left">

            <div id="pickup">
                <button id="Cash-payment">Xác nhận thanh toán</button>
            </div>
        </div>
    </div>
</div>
    <div class="overlay"></div>
    <div class="payment-container" style="display: none;">
        <span id="close-payment" class="close-icon">X</span>
        <h2 id="resultofForm">Thanh toán: </h2>
        <h2 id="NameofPassengers">Khách hàng: </h2>
        <form id="payment-form">
            <div class="form-group">
                <label for="original-price">Giá ban đầu:</label>
                <input type="text" id="totalFaredd" class="price-input" readonly>
            </div>
            <div class="form-group">
                <label for="surcharge-price">Phí cầu đường:</label>
                <input type="text" id="surcharge-price" class="price-input">
            </div>
            <div class="form-group">
                <label for="surcharge-price">Phí mở rộng:</label>
                <input type="text" id="SurchareFeesdd" class="price-input" readonly>
            </div>
            <div class="form-group">
                <label for="surcharge-price">Khuyến mãi:</label>
                <input type="text" id="discountFaredd" class="price-input" readonly>
            </div>
            <div class="form-group">
                <label for="total-price">Thành tiền:</label>
                <input type="text" id="discountFareTotaldd" readonly>
            </div>
            <input type="submit" id="SendforPassenger" value="Gửi" class="calculate-btn">
        </form>
    </div>
    <script>
        window.onload = function () {
            const overlay = document.querySelector('.overlay');
            const paymentContainer = document.querySelector('.payment-container');
            const passengerName = document.getElementById('PassengerName');
            const totalFared = document.getElementById('totalFared');
            const SurchareFeesdd = document.getElementById('SurchareFeesd');
            const discountFared = document.getElementById('discountFared');
            const discountFareTotald = document.getElementById('discountFareTotald');
            const closeButton = document.getElementById('close-payment');
            const result = document.getElementById('result');

            document.getElementById('Cash-payment').addEventListener('click', function () {
                overlay.style.display = 'block';
                paymentContainer.style.display = 'block';

                const results = result.textContent.trim();
                document.getElementById('resultofForm').textContent = `Thanh toán: ${results}`;

                const name = passengerName.textContent.trim();
                document.getElementById('NameofPassengers').textContent = `Khách hàng: ${name}`;

                const originalPrice = parseFloat(totalFared.textContent.split(' ')[0]);
                document.getElementById('totalFaredd').value = originalPrice.toFixed(3);

                const SurchareFees = parseFloat(SurchareFeesdd.textContent.split(' ')[0]);
                document.getElementById('SurchareFeesdd').value = SurchareFees.toFixed(3);

                const discountFare = parseFloat(discountFared.textContent.split(' ')[0]);
                document.getElementById('discountFaredd').value = discountFare.toFixed(3);

                const discountFareTotal = parseFloat(discountFareTotald.textContent.split(' ')[0]);
                document.getElementById('discountFareTotaldd').value = discountFareTotal.toFixed(3);
            });

            closeButton.addEventListener('click', function () {
                overlay.style.display = 'none';
                paymentContainer.style.display = 'none';
            });

            const paymentForm = document.getElementById('payment-form');
            const originalPriceInput = document.getElementById('discountFareTotaldd');
            const surchargePriceInput = document.getElementById('surcharge-price');
            const updatedDiscountFareTotal = document.getElementById('discountFareTotaldd');
            const oldDiscountFareTotalValue = document.getElementById('discountFareTotald');
            const oldDiscountFareTotalValues = parseFloat(oldDiscountFareTotalValue.textContent.split(' ')[0]);
            const calculateTotalPrice = function () {
                const originalPrice = parseFloat(originalPriceInput.value);
                const surchargePrice = parseFloat(surchargePriceInput.value);

                const totalPrice = originalPrice + surchargePrice;
                if (surchargePriceInput.value.trim() === '') {
                    // If surchargePriceInput is empty, set the value to the old value
                    updatedDiscountFareTotal.value = oldDiscountFareTotalValues.toFixed(3);
                } else {
                    updatedDiscountFareTotal.value = totalPrice.toFixed(3);
                }
            };

            originalPriceInput.addEventListener('input', calculateTotalPrice);
            surchargePriceInput.addEventListener('input', calculateTotalPrice);
        };

    </script>
    <script>
        $(function () {
            // Create the SignalR proxy
            var bookingHub = $.connection.bookingHub;
            $("#SendforPassenger").click(function (e) {
                var resultPayment = $('#resultofForm').text();
                var passengerName = $('#NameofPassengers').text();
                var originalPrice = $('#totalFaredd').val();
                var surchargePrice = $('#surcharge-price').val();
                var SurchareFeesdd = $('#SurchareFeesdd').val();
                var discountFaredd = $('#discountFaredd').val();
                var discountFareTotaldd = $('#discountFareTotaldd').val();

                // Call the SendPaymentCash method on the server-side
                bookingHub.server.sendPaymentCash(resultPayment, passengerName, originalPrice, surchargePrice, SurchareFeesdd, discountFaredd, discountFareTotaldd);
                // Show a SweetAlert success message
                swal({
                    title: "Đã gửi hóa đơn!",
                    text: "Thanh toán ",
                    type: "success",
                    showConfirmButton: false,
                    timer: 1500
                });

            });
        });
    </script>
    <script>
        $(function () {
            // Create the SignalR proxy
            var bookingHub = $.connection.bookingHub;

            // Show SweetAlert for successful payment
            bookingHub.client.showPaymentSuccess = function () {
                swal({
                    title: "Thanh toán thành công!",
                    text: "Đơn hàng đã được thanh toán",
                    type: "success",
                    showConfirmButton: false,
                    timer: 1500
                });
                setTimeout(function () {
                    window.location.href = "@Url.Action("ThongTinTaiXe", "TaiXe")";
                }, 1000);
            };

            // Show SweetAlert for cancelled payment
            bookingHub.client.showPaymentCancelled = function () {
                swal({
                    title: "Đã hủy thanh toán!",
                    text: "Đơn hàng đã bị hủy",
                    type: "warning",
                    showConfirmButton: false,
                    timer: 1500
                });
            };
            // Start the SignalR connection
            $.connection.hub.start();
        });
    </script>
    <script>
        $(function () {
            var bookingHub = $.connection.bookingHub;

            // Start the connection.
            $.connection.hub.start().done(function () {
                console.log('SignalR connection started for accepted!!!.');
                // Execute the script when the DOM is ready.
                setTimeout(function () {
                    $(document).ready(function () {
                        // Get the driver data.
                        var PhoneNumber = $("#phoneNumber").text();
                        var PhoneNumbers = $("#phone-number").text();
                        var DriverLocation = $("#DriverLocation").text();
                        var DriverName = $("#DriverName").text();

                        var DriverLicense = $("#DriverLicense").text();
                        var txtLocationPickup = $("#txtLocationPickupd").text();
                        var txtLocationDrop = $("#txtLocationDropd").text();
                        var distance = $("#distance").text();
                        var duration = $("#duration").text();
                        var type = $("#type").text();
                        var dated = $("#dated").text();

                        var result = $("#result").text();
                        var totalFare = $("#totalFared").text();
                        var DriverRated = $("#DriverRated").text();
                        var DriverImages = $("#DriverImages").attr("src");
                        var MaDatXe = $("#MaDatXe").text();
                        var MaNhanChuyen = $("#MaNhanChuyen").text();
                        var SurchareFees = $("#SurchareFeesd").text();
                        var discountFare = $("#discountFared").text();
                        var discountFareTotal = $("#discountFareTotald").text();

                        // Send the driver data to the server.
                        bookingHub.server.sendDriverData2(PhoneNumber, PhoneNumbers, DriverLocation, DriverName, DriverLicense, txtLocationPickup, txtLocationDrop, distance, duration, type, dated, result, totalFare, DriverRated, DriverImages, MaDatXe, MaNhanChuyen, SurchareFees, discountFare, discountFareTotal);
                    });
                }, 500);
            });
        });

    </script>
    <script>
        $(function () {
        // Get the data from the session
            var PhoneNumber = decodeEntities("@Session["PhoneNumber"]");
            var DriverLocations = decodeEntities("@Session["DriverLocations"]");
            var DriverName = decodeEntities("@Session["DriverName"]");
            var DriverLicense = decodeEntities("@Session["DriverLicense"]");
            var txtLocationPickup = decodeEntities("@Session["txtLocationPickup"]");
            var txtLocationDrop = decodeEntities("@Session["txtLocationDrop"]");
            var result = decodeEntities("@Session["result"]");
            var totalFare = decodeEntities("@Session["totalFare"]");
            var PassengerPhone = decodeEntities("@Session["PassengerPhone"]");
            var distance = decodeEntities("@Session["distance"]");
            var duration = decodeEntities("@Session["duration"]");
            var type = decodeEntities("@Session["type"]");
            var dated = decodeEntities("@Session["dated"]");
            var DriverRate = '@Session["DriverRate"]';
            var DriverImage = "@Session["DriverImage"]";
            var PassengerImages = "@Session["PassengerImages"]";
            var PassengerName = decodeEntities("@Session["PassengerName"]");
            var MaDatXe = '@Session["MaDatXe"]';
            var MaNhanChuyen = '@Session["MaNhanChuyen"]';
            var SurchareFees = '@Session["SurchareFees"]';
            var discountFare = '@Session["discountFare"]';
            var discountFareTotal = '@Session["discountFareTotal"]';


             // Use the data as needed
            $('#DriverName').text(DriverName);
            $('#phoneNumber').text(PhoneNumber);
            $('#DriverLicense').text(DriverLicense);
            $('#DriverLocation').text(DriverLocations);
            $('#txtLocationPickupd').text(txtLocationPickup);
            $('#txtLocationDropd').text(txtLocationDrop);
            $('#result').text(result);
            $('#totalFared').text(totalFare);
            $('#phone-number').text(PassengerPhone);
            $('#distance').text(distance);
            $('#duration').text(duration);
            $('#type').text(type);
            $('#dated').text(dated);
            $('#PassengerName').text(PassengerName);
            $('#PassengerNames').text(PassengerName);

            // Generate the appropriate star rating HTML based on the rating value
            var starHtml = "";
            for (var i = 0; i < DriverRate; i++) {
                starHtml += '<span class="fa fa-star"></span>';
            }
            for (var i = DriverRate; i < 5; i++) {
                starHtml += '<span class="fa fa-star-o"></span>';
            }
            // Set the star rating HTML in the NhanChuyenXe view
            $("#DriverRate").html(starHtml);
            // Set the image source in the HTML element
            $('#PassengerImages img').attr('src', '' + PassengerImages);
            $('#PassengerImaged img').attr('src', '' + PassengerImages);
            $('#MaDatXe').text(MaDatXe);
            $('#MaNhanChuyen').text(MaNhanChuyen);
            $('#SurchareFeesd').text(SurchareFees);
            $('#discountFared').text(discountFare);
            $('#discountFareTotald').text(discountFareTotal);
        });
        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }

    </script>
    <script>
        $(document).on("click", ".fa-comment", function () {
            var phoneOfSender = $("#phoneNumber").text();
            var phoneOfReceiver = $("#phone-number").text();

            $.ajax({
                type: "POST",
                url: "/NhanTin/NoiDungNhanTin",
                data: { phoneOfSender: phoneOfSender, phoneOfReceiver: phoneOfReceiver },
                dataType: "json",
                success: function (data) {
                    $("#chat-messages").empty();

                    data.forEach(function (message) {
                        if (message.Sender === phoneOfSender) {
                            $("#chat-messages").append("<div class='chat-message right'><div class='chat-message-text' id='sender-chat-message'>" + message.Content + "</div></div>");
                        } else if (message.Sender === phoneOfReceiver) {
                            $("#chat-messages").append("<div class='chat-message left'><div class='chat-message-text' id='receiver-chat-message'>" + message.Content + "</div></div>");
                        }
                    });

                    // Open the chat popup
                    $("#myForm").show();
                    // Scroll to the bottom of the chat content container
                    var chatContent = $(".chat-content");
                    chatContent.scrollTop(chatContent.prop('scrollHeight'));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError);
                }
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            // Initialize the SignalR connection
            var chatHub = $.connection.chatHub;

            // Start the SignalR connection
            $.connection.hub.start().done(function () {
                console.log('SignalR connection established.');

                // Handle send button click event
                $("#send-message-btn").click(function () {
                    sendMessage();
                });

                // Handle enter key press event
                $("#chat-textarea").keypress(function (event) {
                    if (event.which === 13 && !event.shiftKey) {
                        event.preventDefault();
                        sendMessage();
                    }
                });
            });

            // Function to send the message
            function sendMessage() {
                var message = $("#chat-textarea").val();
                if (message.trim() !== "") {
                    // Send the message via AJAX
                    $.ajax({
                        url: "/NhanTin/ThemNhanTin",
                        type: "POST",
                        dataType: "json",
                        data: {
                            message: message,
                            phoneOfSender: $("#phoneNumber").text(),
                            phoneOfReceiver: $("#phone-number").text()
                        },
                        success: function (response) {
                            // Handle success response if needed

                            // Append the message to the chat messages
                            appendMessage(response);

                            // Delay and focus on the last message
                            setTimeout(function () {
                                focusOnLastMessage();
                            }, 100);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });

                    // Send the message via SignalR
                    var phoneOfSender = $("#phoneNumber").text();
                    var phoneOfReceiver = $("#phone-number").text();
                    chatHub.server.driverSend(message, phoneOfSender, phoneOfReceiver);

                    // Clear the input textarea
                    $("#chat-textarea").val("");

                    // Focus on the input textarea
                    $("#chat-textarea").focus();
                }
            }

            // Function to append the message to the chat messages
            function appendMessage(message) {
                var chatMessage;
                if (message.Sender === $("#phoneNumber").text()) {
                    chatMessage = $("<div class='chat-message right'><div class='chat-message-text' id='sender-chat-message'>" + message.Content + "</div></div>");
                } else {
                    chatMessage = $("<div class='chat-message left'><div class='chat-message-text'>" + message.Content + "</div></div>");
                }

                $("#chat-messages").append(chatMessage);
            }


            function focusOnLastMessage() {
                var chatContent = $(".chat-content");
                var chatMessages = $("#chat-messages");
                var lastMessage = chatMessages.find(".chat-message").last();

                // Scroll to the bottom of the chat content container
                chatContent.scrollTop(chatMessages.outerHeight());


            }

        });



    </script>



    <script>
        $(function () {
            // Initialize the connection to the SignalR hub
            var chatHub = $.connection.chatHub;

            // Define a client-side method to receive the message from the server
            chatHub.client.displayCustomer = function (message, phoneOfSender, phoneOfReceiver) {
                console.log(message); // Log the message to the console

                var chatMessage = $('<div class="chat-message left"><div class="chat-message-text">' + message + '</div></div>');

                // Append the new message to the chat messages
                var chatMessages = $('#chat-messages');
                chatMessages.append(chatMessage);

                // Call the focusOnLastMessage function
                focusOnLastMessage();

                // Scroll to the bottom of the chat content container
                var chatContent = $(".chat-content");
                chatContent.scrollTop(chatMessages.outerHeight());
            };

            // Start the SignalR connection
            $.connection.hub.start();

            // Function to focus on the last message
            function focusOnLastMessage() {
                var chatMessages = $('#chat-messages');
                var lastMessage = chatMessages.find(".chat-message").last();


            }
        });

    </script>


    <script>
        $(function () {
            // Make the chat bubble draggable
            $("#chat-bubble-icon").draggable({
                containment: "window",
                scroll: false,
                start: function () {
                    // Add "draggable" class to the chat popup when dragging starts
                    $("#myForm").addClass("draggable");
                },
                stop: function () {
                    // Remove "draggable" class from the chat popup when dragging stops
                    $("#myForm").removeClass("draggable");
                }
            });
        });

    </script>

</body>
</html>

