@model WebsiteDatXeCongNghe.ViewModel.MultipleData.MultipleData
@{
    ViewBag.Title = "LienKetThe";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="~/css/ViTienTaiXe.css" rel="stylesheet" />
    <link href="~/css/NapTien.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <!-- Include SweetAlert library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11" />
    <!-- Include SweetAlert library -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Tài khoản ngân hàng</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="~/image/TaiXe/VisaIcon.png" />
                    <h2>Ban<span class="danger">king</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/TaiXe/ViTienTaiXe" class="active">
                    <span class="material-icons-sharp">
                        account_balance_wallet
                    </span>
                    <h3>Tài khoản ngân hàng</h3>
                </a>
                <a href="/KhachHang/TaiKhoanNganHang">
                    <span class="material-icons-sharp">
                        add_card
                    </span>
                    <h3>Liên kết thẻ</h3>
                </a>                
                <a href="#">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Thông báo</h3>
                    <span class="message-count">27</span>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Báo cáo</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Cài đặt</h3>
                </a>
                <a href="/TaiKhoan/Services">
                    <span class="material-icons-sharp">
                        arrow_back
                    </span>
                    <h3>Quay lại</h3>
                </a>
            </div>
        </aside>
        <!-- End of Sidebar Section -->
        <!-- Main Content -->
        <main>
            <h1>Tài khoản ngân hàng</h1>
            <!-- Analyses -->
            <div class="analyse">                
                <div class="visits">
                    <div class="status">
                        <div class="info">
                            <h3>Số dư thẻ</h3>
                            <h1 id="BalanceCard"></h1>
                            <h1 id="IdCard" style="display:none;"></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="percentage">
                                <p>-48%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="searches">
                    <div class="status">
                        <div class="info">
                            <h3>Chủ thẻ</h3>
                            <h1 id="CardHolder"></h1>
                        </div>                        
                    </div>
                </div>
            </div>

            <!-- New Users Section -->
            <div class="new-users" id="LoadBalance">
                <h2>Tài khoản ngân hàng</h2>
                @foreach (var item in Model.taiKhoanNganHangs)
                {
                    <div class="user-list">
                        <div class="user @(item.MaTaiKhoanNH == ViewBag.SelectedTaiKhoan ? "active" : "")">
                            <div class="icon">
                                <span class="material-icons-sharp check-icon" style="@(item.MaTaiKhoanNH == ViewBag.SelectedTaiKhoan ? "display: block;" : "display: none;")">
                                    check_circle
                                </span>
                            </div>
                            <h2 style="display:none;">@item.MaTaiKhoanNH</h2>
                            <img src="~/image/TaiXe/VisaIcon.png" />
                            <h2>
                                @{
                                    var cardNumber = item.SoThe;
                                    var maskedPassword = MaskCardNumber(cardNumber);
                                    @maskedPassword
                                }
                            </h2>
                            <h2>@item.SoDu VND</h2>
                            <p>Tên chủ thẻ: @item.ChuThe</p>
                        </div>
                    </div>
                    @functions {
                        // Function to mask the middle digits of a card number
                        string MaskCardNumber(string cardNumber)
                        {
                            if (cardNumber.Length < 16)
                            {
                                return cardNumber; // Do not mask if the card number is not long enough
                            }

                            int visibleDigitsCount = 4; // Number of visible digits at the beginning and end
                            int maskedDigitsCount = cardNumber.Length - 2 * visibleDigitsCount;

                            var maskedPart = new string('*', maskedDigitsCount);
                            var visiblePart = cardNumber.Substring(0, visibleDigitsCount) + maskedPart + cardNumber.Substring(cardNumber.Length - visibleDigitsCount);

                            return visiblePart;
                        }
                    }

                }
            </div>
            <!-- End of New Users Section -->


        </main>
        <!-- End of Main Content -->
        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>
                @foreach (var item in Model.khachHangs)
                {
                    <div class="profile">
                        <div class="info">
                            <p>Chào, <b style="display:none;" id="PhoneNumber">@Session["SoDienThoai"].ToString()</b></p>
                            <small class="text-muted">@item.Ten</small>
                        </div>
                        <div class="profile-photo">
                            <img src="~/image/KhachHang/@item.HinhAnh" />
                        </div>
                    </div>
                }
            </div>
            <!-- End of Nav -->

            <div class="user-profile">
                <div class="logo">
                    <img src="~/image/TaiXe/VisaIcon.png" />
                    <h2>Tài khoản ngân hàng</h2>
                    <p>Liên kết thẻ và thanh toán nhanh chóng</p>
                </div>
            </div>

            <div class="reminders">
                <div class="header">
                    <h2>Dịch vụ</h2>
                    <span class="material-icons-sharp">
                        notifications_none
                    </span>
                </div>
               
                <a href="/KhachHang/TaiKhoanNganHang">
                    <div class="notification add-reminder">
                        <div>
                            <span class="material-icons-sharp">
                                add_card
                            </span>
                            <h3>Liên kết thẻ</h3>
                        </div>
                    </div>
                </a>
                <div class="notification add-reminder" id="unlinkCardBtn">
                    <div>
                        <span class="material-icons-sharp">
                            credit_card_off
                        </span>
                        <h3>Hủy liên kết</h3>
                    </div>
                </div>
                <!-- Add the Unlink button -->
                <!--<button class="unlink-button" id="unlinkCardBtn">Hủy liên kết</button>-->

            </div>

        </div>


    </div>    

    <div class="overlay5"></div>
    <div class="otp-container3" style="display:none;">
        <span id="closeOTP3" class="close-icon">X</span>
        <h2>Nhập mã OTP (Hủy liên kết thẻ)</h2>
        <form id="otp-form3">
            <input type="text" id="digit-111" class="otp-digit3" maxlength="1" pattern="\d" required>
            <input type="text" id="digit-222" class="otp-digit3" maxlength="1" pattern="\d" required>
            <input type="text" id="digit-333" class="otp-digit3" maxlength="1" pattern="\d" required>
            <input type="text" id="digit-444" class="otp-digit3" maxlength="1" pattern="\d" required>
            <input type="text" id="digit-555" class="otp-digit3" maxlength="1" pattern="\d" required>
            <span class="opt" id="EnterAmountPass3" style="display:none;"></span>
            <input type="submit" id="confirmationCode3" value="Xác nhận" class="verify-btn">
        </form>
    </div>

    <script>
    $(document).ready(function () {
        // Make AJAX call to fetch initial SoDu value
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSoDu", "KhachHang")',
            success: function (response) {
                var formattedResponse = Number(response.replace(/\D/g, '')).toLocaleString('vi-VN');
                // Update the HTML element with the fetched SoDu value
                $('#BalanceCard').text(formattedResponse + " VND");

                $.ajax({
                   type: 'GET',
                   url: '@Url.Action("GetSoThe", "KhachHang")',
                   success: function (responseSoThe) {
                        // Update the HTML element with the fetched SoDu value
                        $('#IdCard').text(responseSoThe);
                    },
                    error: function () {
                        // Handle error if needed
                        console.error('Failed to fetch SoDu value');
                    }
                });

                $.ajax({
                   type: 'GET',
                   url: '@Url.Action("GetChuThe", "KhachHang")',
                   success: function (responseChuThe) {
                        // Update the HTML element with the fetched SoDu value
                       $('#CardHolder').text(responseChuThe);
                    },
                    error: function () {
                        // Handle error if needed
                        console.error('Failed to fetch ChuThe value');
                    }
                });
            },
            error: function () {
                // Handle error if needed
                console.error('Failed to fetch SoDu value');
            }
        });

        // Click event for #LoadBalance
        $('#LoadBalance').click(function () {
            // Update the balance for the selected account
            var maTaiKhoan = $('.user-list.active').find('h2:first').text();

            if (maTaiKhoan) {
                // Make AJAX call to fetch SoDu value for the selected account
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSoDu", "KhachHang")',
                    data: { maTaiKhoan: maTaiKhoan },
                    success: function (response) {
                        var formattedResponse = Number(response.replace(/\D/g, '')).toLocaleString('vi-VN');
                        // Update the HTML element with the fetched SoDu value
                        $('#BalanceCard').text(formattedResponse + " VND");

                        // Make AJAX call to fetch SoThe for the selected account
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSoThe", "KhachHang")',
                    data: { maTaiKhoan: maTaiKhoan },
                    success: function (responseSoThe) {
                        // Update the HTML element with the fetched SoThe value
                        $('#IdCard').text(responseSoThe);
                    },
                    error: function () {
                        // Handle error if needed
                        console.error('Failed to fetch SoThe value');
                    }
                });

                // Make AJAX call to fetch SoThe for the selected account
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetChuThe", "KhachHang")',
                    data: { maTaiKhoan: maTaiKhoan },
                    success: function (responseChuThe) {
                        // Update the HTML element with the fetched SoThe value
                        $('#CardHolder').text(responseChuThe);
                    },
                    error: function () {
                        // Handle error if needed
                        console.error('Failed to fetch ChuThe value');
                    }
                });
                    },
                    error: function () {
                        // Handle error if needed
                        console.error('Failed to fetch SoDu value');
                    }
                });
            }
        });

        // Click event for selecting an account
        $('.user-list').click(function () {
            // Remove the active class from all user-list elements
            $('.user-list').removeClass('active');
            $('.check-icon').hide(); // Hide all green tick icons

            // Add the active class to the clicked user-list element
            $(this).addClass('active');
            // Display the green tick icon for the selected account
            $(this).find('.check-icon').show();

            //// Set the selected account ID in ViewBag
            //var selectedTaiKhoan = $(this).find('h2:first').text();
            //ViewBag.SelectedTaiKhoan = selectedTaiKhoan;
        });
    });
    </script>

    <script>
        function showOTPForm() {
            $('.otp-container').show();
            $('.overlay2').show();
        }

        function showOTPForm2() {
            $('.otp-container2').show();
            $('.overlay4').show();
        }

        function showOTPForm3() {
            $('.otp-container3').show();
            $('.overlay5').show();
        }

        function closeOTPForm3() {
            $('.otp-container3').hide();
            $('.overlay5').hide();
        }
    </script>

    <script>
        const overlay2 = document.querySelector('.overlay2');
        const OTPContainer = document.querySelector('.otp-container');
        const closeButton = document.getElementById('closeOTP');
        const overlay4 = document.querySelector('.overlay4');
        const OTPContainer2 = document.querySelector('.otp-container2');
        const closeButton2 = document.getElementById('closeOTP2');
        const overlay5 = document.querySelector('.overlay5');
        const OTPContainer3 = document.querySelector('.otp-container3');
        const closeButton3 = document.getElementById('closeOTP3');
        closeButton.addEventListener('click', function () {
            overlay2.style.display = 'none';
            OTPContainer.style.display = 'none';
            $('#digit-1').val("");
            $('#digit-2').val("");
            $('#digit-3').val("");
            $('#digit-4').val("");
            $('#digit-5').val("");
        });
        closeButton2.addEventListener('click', function () {
            overlay4.style.display = 'none';
            OTPContainer2.style.display = 'none';
            $('#digit-11').val("");
            $('#digit-22').val("");
            $('#digit-33').val("");
            $('#digit-44').val("");
            $('#digit-55').val("");
        });
        closeButton3.addEventListener('click', function () {
            overlay5.style.display = 'none';
            OTPContainer3.style.display = 'none';
            $('#digit-111').val("");
            $('#digit-222').val("");
            $('#digit-333').val("");
            $('#digit-444').val("");
            $('#digit-555').val("");
        });
    </script>

    <script>
        window.onload = function () {

            const otpForm3 = document.getElementById('otp-form3');

            otpForm3.addEventListener('input', function (event) {
                const target = event.target;

                // Check if the input is a valid numeric value
                if (!/^\d*$/.test(target.value)) {
                    // If not a valid numeric value, clear the input
                    target.value = '';
                    return;
                }

                // Move to the next input field if the current input is not empty
                if (target.value !== '') {
                    const nextInput = getNextInput3(target);
                    if (nextInput) {
                        nextInput.focus();
                    }
                }
            });

            otpForm3.addEventListener('submit', function (event) {
                event.preventDefault();

                const otpDigits = document.getElementsByClassName('otp-digit3');
                let otp = '';

                for (let i = 0; i < otpDigits.length; i++) {
                    otp += otpDigits[i].value;
                }
                var cardNumber = $('#IdCard').text().trim();
                var phoneNumber = $('#PhoneNumber').text().trim();
                $.ajax({
                    type: 'POST',
                    url: '/KhachHang/EnterConfirmationCode',
                    data: { confirmationCode: otp },
                    success: function (response) {
                        if (response.success) {
                            // Show success swal
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành công!',
                                text: 'Xác nhận OTP thành công!'
                            });
                            $('.otp-container2').hide();
                            $('.overlay4').hide();
                            $('#digit-111').val("");
                            $('#digit-222').val("");
                            $('#digit-333').val("");
                            $('#digit-444').val("");
                            $('#digit-555').val("");
                            // If OTP is valid, proceed to insert card
                            $.ajax({
                                type: 'POST',
                                url: '/KhachHang/UnlinkCard2',
                                data: { phoneNumber: phoneNumber, cardNumber: cardNumber },
                                success: function (unlinkResponse) {
                                    if (unlinkResponse.success) {
                                        // Show success swal for card insertion
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Thành công!',
                                            text: unlinkResponse.message
                                        });

                                        // Update the content of the new-users section
                                        $('.new-users').load('/KhachHang/LienKetThe .new-users', function () {
                                            closeOTPForm3();
                                        });
                                    } else {
                                        // Show error swal for card insertion
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Lỗi!',
                                            text: unlinkResponse.message
                                        });
                                    }
                                },
                                error: function () {
                                    // Show generic error swal for card insertion
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Lỗi!',
                                        text: 'Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.'
                                    });
                                }
                            });

                        } else {
                            alert('Xác nhận OTP không hợp lệ!');
                        }
                    },
                    error: function () {
                        // Show generic error swal
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi!',
                            text: 'Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.'
                        });
                    }
                });
            });

            function getNextInput3(currentInput) {
                const otpDigits = document.getElementsByClassName('otp-digit3');
                const currentIndex = Array.from(otpDigits).indexOf(currentInput);

                // Return the next input if it exists, otherwise return null
                return currentIndex < otpDigits.length - 1 ? otpDigits[currentIndex + 1] : null;
            }
        };

    </script>

    <!-- Add the script for the confirmation dialog -->
    <script>
        $("#unlinkCardBtn").click(function () {
            Swal.fire({
                title: 'Hủy liên kết thẻ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Get the card number from the hidden field
                    var cardNumber = $('#IdCard').text().trim();
                    var phoneNumber = $('#PhoneNumber').text().trim();

                    // Make an AJAX request to unlink the card
                    $.ajax({
                        type: 'POST',
                        url: '/KhachHang/UnlinkCard',
                        data: { phoneNumber: phoneNumber, cardNumber: cardNumber },
                        success: function (response) {
                            if (response.success) {
                                // Handle success, for example, show a success message
                                showOTPForm3(); // Show the OTP form after successful unlinking
                            } else {
                                // Handle failure, show an error message
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Lỗi!',
                                    text: 'Không thể hủy liên kết thẻ.'
                                });
                            }
                        },
                        error: function () {
                            // Handle error, show a generic error message
                            Swal.fire({
                                icon: 'error',
                                title: 'Lỗi!',
                                text: 'Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.'
                            });
                        }
                    });
                }
            });
        });


    </script>


    <script src="~/js/ViTienTaiXe.js"></script>
</body>

</html>

