@model WebsiteDatXeCongNghe.ViewModel.MultipleData.MultipleData
@{
    ViewBag.Title = "QuanLyKhachHang";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/BangDieuKhien.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Quản lý khách hàng</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>Admin</span>Page</div>
        </a>
        <ul class="side-menu">
            <li><a href="/QuanLy/BangDieuKhien"><i class='bx bxs-dashboard'></i>Bảng điều khiển</a></li>
            <li class="active"><a href="/QuanLy/QuanLyKhachHang"><i class='bx bx-user-circle'></i>Quản lý khách hàng</a></li>
            <li><a href="/QuanLy/QuanLyTaiXe"><i class='bx bx-user-circle'></i>Quản lý tài xế</a></li>
            <li><a href="/QuanLy/QuanLyThongTinDatXe"><i class='bx bx-car'></i>Thông tin đặt xe</a></li>
            <li><a href="/QuanLy/QuanLyTaiKhoan"><i class='bx bx-key'></i>Quản lý tài khoản</a></li>
            <li><a href="/QuanLy/QuanLyDanhGia"><i class='bx bx-star'></i>Quản lý đánh giá</a></li>
            <li><a href="/QuanLy/QuanLyKhuyenMai"><i class='bx bx-money'></i>Quản lý khuyến mãi</a></li>
            <li><a href="/QuanLy/QuanLyThanhToan"><i class='bx bx-receipt'></i>Quản lý thanh toán</a></li>
            <li><a href="/QuanLy/QuanLyDanhGiaTaiXe"><i class='bx bx-star'></i>Đánh giá tài xế</a></li>
            <li><a href="/QuanLy/QuanLyTaiXeNhanChuyenXe"><i class='bx bx-cycling'></i>Tài xế nhận chuyến xe</a></li>
            <li><a href="/QuanLy/QuanLyTaiKhoanNganHang"><i class='bx bx-credit-card'></i>Tài khoản ngân hàng</a></li>
            <li><a href="/QuanLy/QuanLyQuyenTaiKhoan"><i class='bx bx-capsule'></i>Quyền tài khoản</a></li>
            <li><a href="/QuanLy/QuanLyPhanQuyen"><i class='bx bx-user-plus'></i>Quản lý phân quyền</a></li>
            <li><a href="#"><i class='bx bx-cog'></i>Cài đặt</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" id="Search" placeholder="Tìm kiếm...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="~/image/QuanLy/logo.png" />
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-user-circle'></i>
                        <h3>Quản lý khách hàng</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Ảnh đại diện</th>
                                <th>Họ tên</th>
                                <th>Ngày tháng năm sinh</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.khachHangs.Count(); i++)
                            {
                                var item = Model.khachHangs.ElementAt(i);
                                <tr class="Search" id="row_@item.MaKH">
                                    <td>@(i + 1).</td>
                                    <td><img src="~/image/KhachHang/@item.HinhAnh" alt=""></td>
                                    <td>@item.Ten</td>
                                    <td style="display:none;">@item.MaKH</td>
                                    <td>@item.NgayThangNamSinh.ToString("yyyy-MM-dd")</td>
                                    <td>@item.Email</td>
                                    <td>@item.SoDienThoai</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
    </div>


    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                var cleanTextOne = text_one.replace(/\s/g, "");
                var cleanTextTwo = text_two.replace(/\s/g, "");

                if (cleanTextOne.indexOf(cleanTextTwo) !== -1) {
                    return true;
                }
            }

            $("#Search").on('input', function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>


    <script src="~/js/BangDieuKhien.js"></script>
    <!-- Include jQuery library -->
</body>

</html>

